body {
    background: #000000;
    background: -webkit-linear-gradient(to right, rgb(100, 100, 100), #000000);
    background: linear-gradient(to right, rgb(100, 100, 100), #000000);
    
}
.container {
    text-align: center;
    margin-top: 10rem;
}

.heading, .counter-machine{
    color: #fff;
}